.fade-in {
    animation: fade-in .5s;
}

@keyframes fade-in {
    from { opacity: .15 }
    to   { opacity: 1 }
}

.page-slide-in-from-left {
    animation: page-slide-in-from-left .5s both;
}

.page-slide-in-from-right {
    animation: page-slide-in-from-right .5s both;
}

@keyframes page-slide-in-from-left {
    from {
        transform: translateX(-3%);
        opacity: .15;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes page-slide-in-from-right {
    from {
        transform: translateX(3%);
        opacity: .15;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
